body {
  background: linear-gradient(45deg, rgb(40, 190, 110), rgb(40, 180, 220));
  margin: 0;
  font-family: 'Bungee Hairline', cursive;
  color: #fff;
  background-attachment: fixed;
  min-height: 300px;
}

h1 {
  margin: 0;
  font-size: 1.3rem;
  padding: 20px 10px 5px 10px;
  width: 60vw;
}

.neon {
  filter: drop-shadow(0 0 1px #fff)
        drop-shadow(0 0 2px #fff)
        drop-shadow(0 0 4px rgba(255, 119, 237, 0.8))
        drop-shadow(0 0 6px rgba(155, 219, 237, 0.8));
  -webkit-filter: drop-shadow(0 0 1px #fff)
        drop-shadow(0 0 2px #fff)
        drop-shadow(0 0 4px rgba(255, 119, 237, 0.8))
        drop-shadow(0 0 6px rgba(155, 219, 237, 0.8));
}

iframe {
  border: 0;
  margin-top: 10px;
  width: 100vw;
  height: 75vh;
  min-height: 200px;
}

a {
  text-decoration: none;
  padding: 1px 4px;
  margin: 2px 1px;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #eee;
  -webkit-transition: 2s all;
  transition: 2s all;
}

a:hover {
  background-color: rgba(255, 10, 30, 0.8);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#wrapper {
  background: linear-gradient(-180deg, rgb(10, 230, 220), rgba(255, 255, 255, 0));
  min-height: 50vh;
}

img {
  position: absolute;
  width: 20vw;
  max-width: 200px;
  min-width: 140px;
  right: 0;
  top: 0;
  z-index: 2;
}

#links {
  text-align: right;
}
