body {
  background: linear-gradient(-45deg, #c13ccb, #683dcb);
  background-attachment: fixed;
  margin: 0;
  font-family: Oswald;
  color: #111;
}

#wrapper {
  width: 320px;
  margin: 0 auto;
}

a {
  display: inline-block;
  padding: 3px;
}

a {
  text-decoration: none;
  color: rgba(63, 214, 203, 0.6);
  text-transform: uppercase;
  float: left;
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 0 10px;
  text-shadow: #ec42cb 10px 5px 0;
}

a:hover {
  color: #ec42cb;
  text-shadow: #fff 2px 2px 0;
  transition: all 0.5s;
}

