body {
  background-image: url(../media/archive.png);
}

div {
  display: flex;
  padding: 50px;
}

.parent {
  font-size: 1.3rem;
  background-color: rgba(200, 100, 100, 0.4);
}

a {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 3px 5px;
}
